<!DOCTYPE html> {% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ناصية الحلم</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' %}" rel="stylesheet" type="text/css">
    <link href=' https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">ناصية الحلم</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">من نحن؟</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">الآقسام</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">تواصل معنا</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">ناصية الحلم</h1>
              <p class="intro-text">ناصية الحلم، هي منصة تعليمية ممتعة، ثرية بالمعلومات، سهلة الاستخدام
                <br>قف على ناصية الحلم وقاتل
              <br>- محمود درويش</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
              <!--a button for (sign up ) -->
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>عن ناصية الحلم</h2>
            <p>هي منصة تعليمية تحتوي على عدة اقسام تسمح بتسهيل المعلومة والوصول اليها وتنظيمها بأقسامها المتعددة ولكل قسم نمطه الخاص كما تسهم في نقل المعلومات والخبرات بين الطالبات والطلاب عبر طرح عدة مواضيع يتم المناقشة فيها.</p>
            <p>من لم يذق مُر العَلُّمِ ساعةً تجرع ذُل الجهلِ طُول حياتِهِ
            <br>-الإمام الشافعي </p>
            <p>Education is the most powerful weapon which you can use to change the world.
            <br>-Nelson Mandela</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->




            <!--<div class="content">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-sm-4">-->


    <section id="download" class="download-section content-section text-center ">
       <div class="content">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-4 d-flex align-items-stretch">
                  <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem;">
                       <img class="card-img-top" src="{% static 'img/220px-Liliumbulbiferumflowertop.jpg' %}" alt="Card image cap">
                       <div class="card-body">
                          <h3 class="card-title">الحساب الشخصي</h3>
                          <p3 class="card-text">حسابك الخاص الرائع
                          <br>عرفنا عن نفسك واطرح افكارك الرهيبة</p3>
                             <br>
                           <a href="#" class="btn btn-primary">اذهب الان</a>
                       </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-4 d-flex align-items-stretch">
                  <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem;">
                     <img class="card-img-top" src="{% static 'img/Telegram.png' %}" alt="Card image cap">
                     <div class="card-body">
                      <h3 class="card-title">Telegram</h3>
                         <p3 class="card-text"> نستعرض هنا ابرز قنوات التليقرام الخاصة بنشر العلم</p3>
                            <br>
                         <a href="{% url 'mainapp:telegram'%}" class="btn btn-primary">اذهب الان</a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-4 d-flex align-items-stretch">
                  <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/YouTube.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">videos</h3>
                      <p3 class="card-text">حسابك الخاص الرائع
                      <br>عرفنا عن نفسك واطرح افكارك الرهيبة</p3>
                        <br>
                      <a href="{% url 'mainapp:youtube' %}" class="btn btn-primary">اذهب الان</a>
                    </div>
                  </div>
               </div>
            </div>
         </div>
       </div>
        <br>
       <div class="content">
         <div class="container">
            <div class="row">

               <div class="col-xs-12 col-sm-4 d-flex align-items-stretch">
                  <div class="card text-white bg-dark mb-3 h-100" style="width: 18rem;">
                   <img class="card-img-top" src="{% static 'img/1468222_1.jpg' %}" alt="Card image cap">
                      <div class="card-body">
                        <h3 class="card-title">Study Group</h3>
                        <p3 class="card-text">في هذي الصفحة يسمح لطالب او الطالبة بفتح موضوع علمي ويتم المناقشة فيه والتعبير عن آرائهم حول الموضوع بترك تعليق في الصفحة التابعة للموضوع.
                            <br>
                        </p3>
                          <br>
                        <a href="{% url 'mainapp:study_group' %}" class="btn btn-primary">اذهب الان</a>
                      </div>
                   </div>
               </div>

               <div class="col-xs-12 col-sm-4 d-flex align-items-stretch">
                  <div class="card text-white bg-dark bg-3 h-100" style="width: 18rem;">
                      <img class="card-img-top" src="{% static 'img/fresh eyes1.jpg' %}" alt="Card image cap">
                       <div class="card-body">
                          <h3 class="card-title">Fresh Eyes</h3>
                          <p3 class="card-text">
                              هنا حيث يتم تبادل البحوث
                              <br>
                              والمقالات  ليتم التدقيق فيها ومراجعتها من قبل طلاب اخرين
                          </p3>
                            <br>
                          <a href="{% url 'mainapp:fresh_eyes'%}" class="btn btn-primary">اذهب الان</a>
                       </div>

                  </div>
               </div>
            </div>
         </div>
       </div>


    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>تواصل معنا</h2>
              <p>تستطيع التواصل معنا عبر تويتر و الايميل و لك كامل الحق في نسخ كودها </p>

            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/nnouraa88" class="btn btn-primary btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="##" class="btn btn-primary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="##" class="btn btn-primary btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>بُني بأيدٍ طلابيّة
        <br>
        &copy.حقك في النسخ مكفول</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>

