<!doctype html> {% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

{% block head %}
{% endblock %}
    <title>{% block title %}wow{% endblock %}</title>
  </head>
  <body>
  <!--333333here edit the navbar333333-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'mainapp:home' %}"" >ناصية الحلم</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">الرئيسية <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          التطبيقات
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'mainapp:youtube' %}">Youtube</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'mainapp:telegram' %}">Telegram</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'mainapp:list_posts' %}">Study Group</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'mainapp:fresh_eyes' %}">Fresh Eyes</a>
        </div>
      </li>
    </ul>

        <div class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
        <span class="avatar avatar-online">
        <img src="{% static 'img/pikachu.png' %}" alt="avatar">

        <!--i have replace userena_profile_edit and userena_signout with # sign because i did not make the templates yet-->
        </span>
        <span class="user-name">{{ user.profile.first_name|default:user.username }}</span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item"><i class="ft-user"></i> Edit Profile
            </a>
        <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="ft-power"></i> Logout</a>
        </div></div>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="ابحث في ناصية الحلم!" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0" type="submit">!ابحث</button>
    </form>
  </div>
</nav>
<br/>
<br>
<br>
<div class="container">

   {% block content %}
   {% endblock %}
</div>
<!--#the old footer-->
    <!--<footer>-->
      <!--<div class="container text-center">-->
        <!--<p>بُني بأيدٍ طلابيّة-->
        <!--<br>-->
        <!--&copy.حقك في النسخ مكفول</p>-->
      <!--</div>-->
    <!--</footer>-->

<!--#the new footer-->
    <!-- Footer -->
    <footer class="py-1 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">بُني بأيدٍ طلابيّة
        <br>
          &copy.حقك في النسخ مكفول
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </body>
{% block javascript %}
{% endblock %}
</html>
