{% extends 'index.html' %} {% load static %} {% load bootstrap4 %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">

{% endblock %}
{% block title%}Study group {% endblock %}



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ article.title }}</h1>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ article.image }}" alt="">
            <hr>





          <!-- Post Content -->
          <p class="lead"> {{ article.body}}</p>
            <hr>
          <!--Author-->
          <p class="lead">
            by
            {{ article.uploadedby }}
              {% if article.is_deleted == False %}
             <button id="delete"  data-url="{% url 'mainapp:delete_article' article.pk %}" data-article-pk='{{ article.pk }}'> DELETE </button>
              {% endif  %}
          </p>
          <!-- Date/Time -->
          <p>{{article.pub_date}}</p>

          <hr>


          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
          <form class="form" enctype="multipart/form-data"  action="{% url 'mainapp:show_post' article.pk %}" method="post">

              {% csrf_token %}
              {% bootstrap_form form %}
          {% buttons %}
                  <button type="submit" class="btn btn-primary">
                       أرسل
                  </button>
                  {% endbuttons %}
              </form>
            </div>
          </div>


            <hr>
          <!-- Comment with nested comments -->
            {% for comment in comment1 %}
            <blockquote>
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">{{ comment.uploadedby}}</h5>
                  <p> {{ comment.body }}</p>

                 {% for child_comment in comment.children %}
                 <blockquote>
                 <p>{{ child_comment.content }}</p>
                 <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                 </blockquote>
                 {% endfor %}

                 <form method="POST" action="."> {% csrf_token %}
                    <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                    <input style="float:right" type='submit' value='Reply' class='btn btn-default'>
                 </form>
                </div>
              </div>

            </blockquote>
            {% endfor %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{% url 'mainapp:list_posts' 'biology' %}">Biology Section</a>
                    </li>
                    <li>
                      <a href="{% url 'mainapp:list_posts' 'microbiology' %}">Microbiology Section</a>
                    </li>
                    <!--<li>-->
                      <!--<a href="#">Physiology Section</a>-->
                    <!--</li>-->
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{% url 'mainapp:list_posts' 'physiology' %}">Physiology Section</a>
                    </li>
                    <!--<li>-->
                      <!--<a href="#">#</a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="#">#</a>-->
                    <!--</li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">#</h5>
            <div class="card-body">
              #
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block javascript %}


<script type="text/javascript">
    $(document).ready(function () {

             $('#delete').click(function(){
                      console.log('hi')
                      article_pk = $(this).data('article-pk');
                      url = "{% url 'mainapp:delete_article' article.pk %}"
                      $.ajax({
                          url: url,
                          type: 'POST',
                          success: function(data){
                            if (data.message == 'success'){
                                window.location.href = "{% url 'mainapp:list_posts' %}";
                              <!--toastr.success("Your article was removed.")-->
                            } else {
                            }
                          }
                      });
             });
    });

</script>
</html>

{% endblock%}
