{% extends 'index.html' %}
{% block title%}youtube{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">



    <div style="background-color:black;color:white;width:100%;">

        <h5 class="mt-0">{{ video.Title }}</h5>

   <center> <iframe width="850" height="550" src="https://www.youtube.com/embed/YykjpeuMNEk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </center>


    </div>

</head>
<body>




</body>
</html>

{% endblock %}
